@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');
@import url('https://db.onlinewebfonts.com/c/a8d23046bc8d38ee78b38e95ec47f9e5?family=Franklin+Gothic+Medium');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Franklin Gothic Medium";
        font-weight: bold;
        @apply bg-[#F4F4F4];
    }
    input:focus, button:focus, textarea:focus {
        outline: none;
    }
}

@layer components {
    .shadow-1 {
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    }
    .button-text-1 {
        @apply text-[20px] text-[#333333];
    }  

    .container-box-reg {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        @apply relative flex flex-col items-center w-[500px] h-[500px] rounded-[35px] bg-white;
    }
    .email-input::placeholder {
        @apply text-[20px] text-[#999999];
    }
    .password-input::placeholder {
        @apply text-[20px] text-[#999999];
    }
    .submit {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        @apply text-[25px] text-[#333333] flex justify-center items-center mt-[100px] w-[170px] h-[50px] rounded-[15px] duration-300 hover:bg-[#F4F4F4];
    }
}